<web-app>
  <servlet>
     <servlet-name>mydo</servlet-name>
     <servlet-class>myServlet1.MyFirstServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>mydo</servlet-name>
     <url-pattern>/do</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>mydom</servlet-name>
     <servlet-class>MyHttp.DemoHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>mydom</servlet-name>
     <url-pattern>/hp</url-pattern>
  </servlet-mapping>
  
</web-app>